@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px -3px 15px deepskyblue;
  }

  .bg-custom {
    background-image: url("../public/404-error.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .floating-animation {
    animation: float 3s ease-in-out infinite;
  }

  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .animate-bounce {
    animation: bounce 3s infinite;
  }

}

@font-face {
  font-family: "bold font";
  src: url("../public/boldfont.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #334155;
}

img {
  -webkit-user-drag: none;
  user-zoom: none;
  user-select: none;
}

button {
  user-select: none;
}

* {
  box-sizing: border-box;
}



::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #334155;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 50px;

}

main {
  background-color: #e4e5f1;
}