@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .user-select-none {
    user-select: none;
  }

  .talkanim {
    background: linear-gradient(to right, #EA7724 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }

  .talkanim:hover {
    background-position: left bottom;
  }

  .hireanim {
    background: linear-gradient(to right, transparent 50%, #EA7724 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }

  .hireanim:hover {
    background-position: left bottom;
    color: #EA7724;
  }

  @keyframes gradientanim {
    50% {
      background-color: #EA7724;
    }

    100% {
      background-color: #F7B500;
    }

    0% {
      background-color: #F7B500;
    }
  }
  
  .gradient-animation {
    animation: gradientanim 3s ease-in-out infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }


  .floating-animation {
    animation: float 3s ease-in-out infinite;
  }

  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .animate-bounce {
    animation: bounce 5s backwards;
  }

  .border-animation {
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 180, 41, 0.5);
    animation: border-pulse 1.5s infinite;
  }

  @keyframes border-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(238, 200, 34, 0.747);
    }

    50% {
      box-shadow: 0 0 0 10px rgba(255, 230, 0, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(225, 156, 66, 0);
    }
  }

}


@font-face {
  font-family: "Poppins Regular";
  src: url("../public/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../public/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../public/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../public/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("../public/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../public/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../public/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../public/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url("../public/Inter/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter Black";
  src: url("../public/Inter/Inter-Black.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #334155;
}

img {
  -webkit-user-drag: none;
  user-zoom: none;
  user-select: none;
}

button {
  user-select: none;
}

* {
  box-sizing: border-box;
}

input:focus,
input:active,
input:hover {
  border-color: #EA7724 !important;
  border-bottom: 3px solid #EA7724;
}

input:hover {
  border-color: #929191 !important;
}

input {
  margin: 5px 0;
  outline: none;
}

textarea:focus,
textarea:active,
textarea:hover {
  border-color: #EA7724 !important;
  border-bottom: 3px solid #EA7724;
}

textarea:hover {
  border-color: #929191 !important;
}

textarea {
  outline: none;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: #ffffff33;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 50px;
}