@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #334155;

}

* {
  box-sizing: border-box;
}

.midnight {
  background-color: #171E27;
  color: white;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #334155;
}
::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 50px;

}

main {
  background-color: #e4e5f1;
}
